@import "tailwindcss";
@import './fonts.css';

@theme {
  --animate-wiggle: wiggle 0.5s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  --color-focus: #E61004;
  --color-short-break: #D18D24;
  --color-long-break: #405647;
  --color-primary: #94182C;
  --color-primary-dark: #67101E;
}

:root {
  font-weight: 400;
  overflow: hidden;
  background-color: var(--color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}