@import "tailwindcss";
@import './fonts.css';

@theme {
  --animate-wiggle: wiggle 0.5s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

:root {
  font-weight: 400;
  overflow: hidden;
  /* TODO: check why background default in theme not applies, instead this background-color applies */
  background-color: #94182C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}